* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.5s;
}

body {
    background-color: antiquewhite;
}

.side-bar {
    background-color: white;
    height: 100vh;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu {
    padding: 10px;
    margin: 25px 25px 25px 15px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: white;
    position: relative;
    padding: 10px;
    margin: 25px 15px 25px 15px;
    width: 40px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.item:hover,
.item:hover ion-icon,
.menu:hover,
.menu:hover ion-icon {
    background-color: rgb(240, 240, 240);
}

.text {
    position: relative;
    visibility: hidden;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    z-index: 0;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ion-icon {
    color: black;
    background-color: white;
}

.active {
    background-color: rgb(245, 245, 245);
}

.active ion-icon {
    background-color: rgb(245, 245, 245);
}

.link {
    border-radius: 10px;
    position: relative;
}

.link:hover,
.link:hover * {
    background-color: rgb(245, 245, 245);
}

.link:active {
    top: 1px;
    left: 1px;
}