* {
    padding: none;
    margin: none;
    box-sizing: border-box;
    transition: all 0.2s;
}

body {
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-field {
    display: flex;
    flex-direction: row;
}

.otp-field input {
    width: 37px;
    height: 37px;
    outline: none;
    border-radius: 5px;
    margin: 4px;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(128, 100, 128);
}

.otp-field input:focus {
    border: 2px solid purple;
    box-shadow: 0 0 .5px .5px purple
}

.space {
    margin-right: 1rem !important;
}

.disabled {
    opacity: 0.5
}

#submitBtn {
    width: 37px;
    height: 37px;
    margin: 4px;
    background-color: white;
    position: relative;
    border: 2px solid rgb(128, 100, 128);
    border-radius: 5px;
}

#submitBtn:hover {
    background-color: rgb(210, 210, 210);
}

#submitBtn:active {
    top: 1px;
    left: 1px;
}